---
import "@/styles/globals.css";
import WebApp from "@/components/WebApp";
---

<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Orc Web UI</title>
  </head>
  <body>
    <WebApp client:load />
  </body>
</html>
